<h1><%="#{(@game.player_1.name).capitalize} vs #{(@game.player_2.name).capitalize}"%></h1>

<%="#{(@game.player_2.name).capitalize}: #{@game.player_2.points}HP"%>

<br>
<%= @game.current_turn.name %>'s turn

<br>

<form action="/attack">
  <input type="submit" value="Attack">
  </form>